numpy==1.26.2
opencv-contrib-python==4.8.1.78 # versão utilizada com a demonstração da câmera
depthai==2.21.2.0
# pysimplegui # eventualmente utilizar a biblioteca para criar menu de interação e deixar de utilizar o terminal
imutils==0.5.4 # apenas para os testes de matching
# numba # utilizado para processamento da imagem bruta/raw, em um dos testes
av==11.0.0